function createForm() {
  var fields = {{{json fields}}};
  var useCustomCSSClasses = {{useCustomCSSClasses}};
  var usePlaceholders = {{usePlaceholders}};
  var _inboundSourceID = "{{_inboundSourceID}}";

  var form = document.createElement("form");

  for (var i = 0; i < fields.length; i++) {
    var field = fields[i];
    var fieldset = document.createElement("div");
    if (useCustomCSSClasses) {
      fieldset.className = field.customCSSClass;
    }

    var label;

    if (field.label) {
      label = document.createElement("label");
      label.htmlFor = _inboundSourceID + "-" + field.mapTo;
      label.innerHTML = field.label;
      if (useCustomCSSClasses) {
        label.className = field.customCSSClass;
      }
      if (field.mapTo !== "marketingConsent") {
        fieldset.appendChild(label);
      }
    }

    if (field.mapTo === "gender") {
      var array = ["male", "female", "other"];
      var selectList = document.createElement("select");
      selectList.name = field.mapTo;
      selectList.id = _inboundSourceID + '-' + field.mapTo;
      fieldset.appendChild(selectList);
      for (var k = 0; k < array.length; k++) {
        var option = document.createElement("option");
        option.value = array[k];
        option.text = array[k];
        selectList.appendChild(option);
      }
      form.appendChild(fieldset);
      continue;
    }

    var input = document.createElement("input");
    if (field.mapTo === "leadRequirements") {
      input = document.createElement("textarea");
    }
    if (field.mapTo === "email" || field.mapTo === "companyEmail") {
      input.type = "email";
    }
    if (field.mapTo === "marketingConsent") {
      input.type = "checkbox";
    }
    if (field.mapTo === "birthday") {
      input.type = "date";
    }
    input.name = field.mapTo;
    input.id = _inboundSourceID + '-' + field.mapTo;
    if (useCustomCSSClasses) {
      input.className = field.customCSSClass;
    }
    if (usePlaceholders) {
      input.placeholder = field.placeholder;
    }

    fieldset.appendChild(input);

    if (field.mapTo === "marketingConsent" && field.label) {
      fieldset.appendChild(label);
    }

    form.appendChild(fieldset);
  }

  var button = document.createElement("button");
  button.innerHTML = "{{ button.text }}";
  button.className = "{{ button.customCSSClass }}"
  form.appendChild(button);

  form.method = "POST";
  form.action = "{{ submitUrl }}"

  form.onsubmit = function (event) {
    event.preventDefault();

    var data = {};
    for (var i = 0, ii = form.length; i < ii; ++i) {
      var input = form[i];
      if (!input.name) {
        continue;
      }
      if (input.type === "checkbox") {
        data[input.name] = input.checked;
        continue;
      }

      data[input.name] = input.value;
    }

    var xhr = new XMLHttpRequest();
    xhr.open(form.method, form.action, true);
    xhr.setRequestHeader('Accept', 'application/json; charset=utf-8');
    xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

    xhr.send(JSON.stringify(data));

    xhr.onloadend = function (response) {
      window.location.href = "{{ redirectUrl }}"
    };
  }

  document.getElementById("form-{{ _inboundSourceID }}").appendChild(form);
}

window.addEventListener("load", function() { createForm();});
